.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  box-shadow: 2px 2px 50px rgb(206, 205, 205);
  overflow: scroll;
  h2 {
    padding: 2rem;
  }
  transform: translateX(-100%);
  transition: all 0.5s ease;
  opacity: 0;
}

.library-song {
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  cursor: pointer;
  img {
    width: 30%;
    border-radius: 50%;
  }
  &:hover {
    background: rgb(212, 245, 255);
  }
}
.song-description {
  padding: 1rem;
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.7rem;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

.selected {
  background: rgb(212, 245, 255);
}
.library-status {
  transform: translateX(0%);
  opacity: 1;
}
