.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  background-color: #0f4c75;
  box-shadow: 2px 2px 20px #28292b;
  overflow: scroll;
  h2 {
    padding: 2rem;
    color: whitesmoke;
  }
  transform: translateX(-100%);
  transition: all 0.5s ease;
  opacity: 0;
}

.library-song {
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  cursor: pointer;
  transition: background 0.4s ease;
  h3,
  h4 {
    color: whitesmoke;
  }
  img {
    width: 30%;
    border-radius: 50%;
  }
  &:hover {
    background: #023252;
  }
}
.song-description {
  padding: 1rem;
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.7rem;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(231, 230, 230);
  border-radius: 20px;
  border: transparent;
}

.selected {
  background: #023252;
}
.library-status {
  transform: translateX(0%);
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .library {
    width: 100%;
  }
}
