nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  button {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border: 2px solid rgb(65, 65, 65);
    background-color: transparent;
    transition: 0.4s ease;
    &:hover {
      background: rgb(65, 65, 65);
      color: white;
    }
  }
}
