nav {
  h1 {
    margin-top: 5px;
    color: #bbe1fa;
    font-family: "Aladin", cursive;
    font-size: 45px;
    letter-spacing: 5.5px;
  }
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  button {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    color: antiquewhite;
    cursor: pointer;
    border: none;
    border: 2px solid #bbe1fa;
    background-color: transparent;
    transition: 0.4s ease;
    &:hover {
      background: #bbe1fa;
      color: black;
    }
  }
}

@media screen and (max-width: 768px) {
  nav {
    button {
      z-index: 10;
    }
  }
}
