* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  background-color: #142850;
}
h1,
h2,
h3 {
  color: rgb(56, 55, 55);
}
.App {
  transition: all 0.5s ease;
}
.library-active {
  margin-left: 20%;
}

// we can import the partials like this in sass
@import "./player";
@import "./song";
@import "./library";
@import "./nav";
@import "./bubble";

h3,
h4 {
  font-weight: 400;
  color: rgb(100, 100, 100);
}
